<h1>Using Stripe Checkout and Rails</h1>
<p>Reference: 
  <a href="https://stripe.com/docs/checkout/rails">https://stripe.com/docs/checkout/rails</a></p>
<h2 class="warning">Website under test</h2>
<p><%= link_to 'Product 1', product_path(1), class: "btn btn-primary", role: "button" %></p>