<h1>Using Stripe Checkout and Rails</h1>
<p>Reference: 
  <a href="https://stripe.com/docs/checkout/rails">https://stripe.com/docs/checkout/rails</a></p>
<h2 class="warning">Website under test</h2>

<p><%= link_to 'Add a new product', new_product_path, class: "btn btn-primary", role: "button" %></p>

<table>
  <tr>
    <th>Description</th>
    <th>Price</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
    </tr>
  <% end %>
</table>
