<h1>Listing products</h1>
 
<table>
  <tr>
    <th>Description</th>
    <th>Price</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
    </tr>
  <% end %>
</table>

<%= link_to('Go back to Home', root_path) %>
